@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: rgb(116, 116, 217);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: 1;
  text-align: center;
}

.contents {
  margin: auto;
  max-width: 500px;
  min-height: 300px;
  margin: 170px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  min-height: 30px;
  margin: 5px 10px 20px;
  padding: 0px 5px;
  font-size: 16px;
  font-family: inherit;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  user-select: none;
}

.btn:active {
  outline: 1px solid #000;
}

.error {
  background-color: #fab4b4;
  margin-top: 20px;
  border-radius: 5px;
  margin: 20px 5px;
  padding: 20px;
}

.adderContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.addHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course {
  background-color: #f0f0f0;
  padding: 15px;
  margin: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.courseText {
  display: flex;
  flex-direction: column;
}

.courseText > h3,
p {
  margin: 0px;
}

.toggleGroup {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.toggleGroupButton {
  margin: 0px;
  min-width: 30px;
  padding: 3px 10px;
  background-color: white;
  outline: 1px solid gray;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.toggleGroupButton:hover {
  filter: brightness(95%);
}

.toggleGroupButton > label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
